include cythonSumPackage/SumArrayCython/SumArray.c
include cythonSumPackage/SumArrayCython/SumArray.pyx
include cythonSumPackage/SumArrayC/SumArrayCythonCpp.cpp
include cythonSumPackage/SumArrayC/SumArrayC.cpp
include cythonSumPackage/SumArrayC/SumArrayCythonCpp.pyx